---
import { Modal } from 'accessible-astro-components'
import MySwiper from '../components/MySwiper'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Skateboard configurator</title>
  </head>
  <body class="bg-[url('https://wallpapercave.com/wp/wp1168215.jpg')] bg-cover font-OpenSans">
    <div class="m-auto">
      <div class="bg-gray-100 w-1/4 py-12 px-14 fixed right-48 rounded-lg top-[50%] translate-y-[-50%]">
        <h1 class="text-4xl font-bold mb-4 ">Skateboard configurator</h1>
        <p class="text-gray-700">
          With this 3d configurator you can adjust your skateboard the way you
          like it!
        </p>
        <div class="templates">
          <h2 class="font-semibold text-2xl mb-6 mt-6">Presets</h2>
          <MySwiper client:load />
        </div>
        <div id="menu">
          <h2 class="font-semibold text-2xl mb-6 mt-6">Customize</h2>
          <div class="flex items-center gap-4 mb-2" id="custompresettitle">
            <h2 class="text-lg w-28 text-gray-700">Customs</h2>
            <select name="custompresets" id="custompresets" class="hidden h-10 rounded px-2">
            <option selected disabled>select custom</option>
          </select>
          </div>
          <div class="flex items-center gap-4 mb-2">
            <h2 class="text-lg w-28 text-gray-700">Wheel color</h2>
            <input type="color" id="wheelcolor" class="h-10 rounded-2xl" />
          </div>
          <div class="flex items-center gap-4 mb-2">
            <h2 class="text-lg w-28 text-gray-700">Deck color</h2>
            <input type="color" id="deckcolor" class="h-10 rounded-2xl" />
          </div>
          <div class="flex items-center gap-4">
            <h2 class="text-lg w-28 text-gray-700">Deck art</h2>
            <input type="text" id="urlInput" placeholder="paste url here" class="h-10 rounded px-2" />
          </div>
          <button
            class="flex justify-center items-center text-lg font-bold px-28 py-4 bg-black text-white mt-8 rounded"
            id="saveModel">save</button
          >
        </div>
      </div>
      <div id="presets"></div>
    </div>
    <canvas class="webgl h-[756px] w-2/4 fixed top-[50%] translate-y-[-50%] left-48 rounded-lg"></canvas>
    <Modal triggerId="saveModel" title="Custom preset">
      <input type="text" id="presetname" placeholder="Enter your presetname" class="h-10 rounded px-2 border-gray-700 border"/>

      <button onclick="closeModal()" id="save" class="flex justify-center items-center text-lg font-bold px-28 py-4 bg-black text-white mt-8 rounded">Save preset</button>
    </Modal>
  </body>
</html>
<script src="../three/three.js"></script>
